.page1 {
    width: 1920px;
    height: 700px;
    background-color: #EEEFF1;
}

nav {
    width: 611px;
    height: 16px;
    margin-left: 399px;
    display: flex;
    justify-content: space-between;
}

nav p {
    margin-top: 79px;
    font-family: "Roboto";
    font-weight: 400;
    size: 16px;
    line-height: 26.25px;
    color: #000000;
}

.weight500 {
    font-weight: 500;
    color: #34547A;
}

.page1-h1 {
    font-family: "Roboto";
    color: #000000;
    font-weight: 500;
    font-size: 48px;
    line-height: 78.75px;
    width: 541px;
    height: 45px;
    margin-top: 257px;
    margin-left: 399px;
}

.page1-text {
    font-family: "Roboto";
    font-weight: 400;
    size: 16px;
    line-height: 26.25px;
    color: #727272;
    width: 540px;
    height: 67px;
    margin-left: 400px;
    margin-top: 60px;
}

button {
    background-color: #34547A;
    width: 225px;
    height: 65px;
    margin-top: 65px;
    margin-left: 399px;
    padding: 19px 41px 20px 41px;

    color: #EEEFF1;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 26.25px;
}


/* page2 */

.page2 {
    width: 1920px;
    height: 359px;
    display: flex;
    justify-content: center;
}

.page2-h2 {
    font-family: "Roboto";
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    margin-top: 112px;
}

.page2-text {
    width: 540px;
    height: 67px;
    font-family: "Roboto";
    font-weight: 400;
    size: 16px;
    line-height: 26.25px;
    color: #727272;
    text-align: center;
    margin-top: 50px;
}

/* page3 */

.page3 {
    background-color: #34547A;
    display: flex;
    width: 1920px;
    height: 250px;
    padding-left: 409px;
    padding-right: 424px;
    justify-content: space-between;
    box-sizing: border-box;

}

.page3-item {
    display: inline;
    align-content: center;
}

.image {
    width: 141px;
    height: 50px;
}

/* page4 */

.page4 {
    width: 1920px;
    height: 1004px;
    background-color: #EEEFF1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.page4-h2 {
    font-family: "Roboto";
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
}

.page4-text {
    width: 540px;
    height: 67px;
    font-family: "Roboto";
    font-weight: 400;
    size: 16px;
    line-height: 26.25px;
    color: #727272;
    margin-top: 50px;
    text-align: center;
    margin-left: 690px;
}

.page4-image-content {
    display: flex;
}

.page4-img {
    width: 1100px;
    height: 600px;
    margin-top: 57px;
    margin-left: 405px;
}

.page4-img2 {
    width: 100px;
    height: 100px;
    position: relative;
    right: 600px;
    top: 300px;
}

/* page5 */

.page5 {
    width: 1920px;
    height: 151px;
    background-color: #34547A;
    display: flex;
    box-sizing: border-box;
}

.page5-h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 21px;
    line-height: 24.61px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 406px;

}

.page5-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13px;
    line-height: 21.33px;
    color: #FFFFFF;
    margin-top:20px ;
    margin-bottom: 50px;
    margin-left: 406px;
}


@media (min-width: 1200px) {
    .page1, .page2, .page3, .page4, .page5 {
        width: 100%;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .page1, .page2, .page3, .page4, .page5{
        width: 100%;
        height: auto;
        margin: 0 auto;

    }

    nav {
        width: 80%;
        margin-left: 10%;
    }

    .page1-h1, .page1-text, button {
        margin-left: 10%;
        width: 80%;
        

    }

    .page4-img{
        width: 100%;
        height: auto;
        margin-left: 0;
        position: relative;
        z-index: 1;
    }
    .page4-img2{
        width: 60px;
        height: 60px;
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .page4-text {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (max-width: 767px) {
    .page1, .page2, .page3, .page4, .page5 {
        width: 100%;
        height: auto;
        padding: 10px;

    }

    nav {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    nav p {
        text-align: center;
        margin: 10px 0;
    }

    .page1-h1, .page1-text, button {
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .page1-h1 {
        font-size: 32px;
        line-height: 45px;
    }

    button {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .page2-h2, .page2-text, .page4-h2, .page4-text, .page5-h3, .page5-text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        text-wrap: wrap;
    }

    .page4-img {
        width: 100%;
        height: auto;
        margin-left: 0;
        position: relative;
        z-index: 1;
    }

    .page4-img2 {
        width: 60px;
        height: 60px;
        right: 20px;
        top: 150px;
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

@media (max-width: 480px) and (min-width: 375px){
    .page1-h1 {
        font-size: 24px;
        line-height: 35px;
    }
    .page1, .page2, .page3, .page4, .page5 {
        width: 100%;
        height: auto;
        padding: 10px;}

    .page4-img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .page4-img2 {
        display: none; 
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    

    .page5-h3, .page5-text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}
